<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{keyType}} Size</h5>

          <!-- General Form Elements -->
          <form>
            <div class="row mb-5">
              <div class="mt-3 col-md-6">
                <label>Size</label>
                <input type="text" class="form-control" [disabled]="isDisable" [(ngModel)]="formObj.size" name="size"
                  placeholder="size">
              </div>

              <div class="mt-3 col-md-3">
                <label>Sq. ft</label>
                <input type="text" class="form-control" [disabled]="isDisable" [(ngModel)]="formObj.sq_ft" name="sq_ft"
                  placeholder="sq_ft">
              </div>

              <div class="mt-3 col-md-4">
                <label>Shape</label>
                <input type="text" class="form-control" [disabled]="isDisable" [(ngModel)]="formObj.shape" name="shape"
                  placeholder="Shape">
              </div>

              <div class="mt-3 col-md-2">
                <label>Price</label>
                <input type="text" class="form-control" [disabled]="isDisable" [(ngModel)]="formObj.price" name="Price"
                  placeholder="Price">
              </div>

              <!-- <div class="mt-3 col-md-4">
                <label>Status</label>
                <select class="form-select" [disabled]="isDisable" [(ngModel)]="formObj.status" name="status">
                  <option value="" disabled>--Select--</option>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
              </div> -->

              <div class="col-md-12 text-center mt-3">
                <button class="btn btn-primary" *ngIf="keyType == 'Add'" (click)="submit()">Submit</button>
                <button class="btn btn-primary" *ngIf="keyType == 'Edit'" (click)="update()">Update</button>
                <button class="btn btn-secondary mx-2">Cancel</button>
              </div>
            </div>
          </form><!-- End General Form Elements -->

        </div>
      </div>

    </div>
  </div>
</section>