td.custom-size {
  max-width: 200px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis; /* Optional for handling overflowed text */
  white-space: nowrap; /* Optional: Prevents text from wrapping to a new line */
}


.uploaded-image{
  width: 50px;
  height: 50px;
  object-fit: cover;
}
